
<div id="wrapper">
  <div id="main">
    <h1>Editing Article</h1>

<%= render 'form' %>

<%= link_to 'Show', @article %> |
<%= link_to 'Back', articles_path %>
    <footer>&copy2016 BadgerTex.com</footer>
  </div>
</div>