  <div id="main">

    <h1>Welcome to Badger &alpha;-Blog Application</h1>
  <nav><%= link_to "Home", root_path %>
  <%= link_to "About", welcome_about_path %>
  <%= link_to "Articles", articles_path %></nav>
    <hr>
    <h3>This is the humble beginnings of a Ruby Application</h3>
    <p>We shall see how the venutre goes as we proceed forward. That might've been one of the shortest assignments in the history of Starfleet. This is not about revenge. This is about justice. Damage report! Worf, It's better than music. It's jazz. I'm afraid I still don't understand, sir. Why don't we just give everybody a promotion and call it a night - 'Commander'?</p>
    <h3>Moving Forward</h3>
    <p>The Enterprise computer system is controlled by three primary main processor cores, cross-linked with a redundant melacortz ramistat, fourteen kiloquad interface modules. Worf, It's better than music. It's jazz. Computer, belay that order. and attack the Romulans. The look in your eyes, I recognize it. You used to have it for me. Wait a minute - you've been declared dead. You can't give orders around here. Computer, lights up! Damage report! Wouldn't that bring about chaos? You did exactly what you had to do. You considered all your options, you tried every alternative and then you made the hard choice. Mr. Worf, you do remember how to fire phasers? You bet I'm agitated! I may be surrounded by insanity, but I am not insane. You enjoyed that.</p>
 <br>
    <br>
    <br><footer>&copy 2016 BadgerTex.com</footer>
  </div>


